@use "../../Styles/_placeholders.scss" as *;
@use "../../Styles/_variables.scss" as *;

.headerStyle {
  // background-image: url('../../assets/header.jpg');
  // background-size: cover;
  // background-position: center;
  position: relative;
  // display: block;
  // width: 100%;
  // height: 80vh;

  img {
    background-size: cover;
    background-position: center;
    display: block;
    width: 1440px;
  }

  .headerBox {
    background-color: $dark;
    width: 80%;
    height: 30vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    // margin-top: 45rem;
    // bottom of the header & then margin to lower it down::after
    margin-bottom: -4rem;
    bottom: 0;
    z-index: 10;
    border: 18px solid $bronze;

    h1 {
      @extend %lime;
      color: $htext;
      text-align: center;
      font-size: 4rem;
    }
    p {
      @extend %linden;
      color: $htext;
      text-align: center;
      font-size: 1.3rem;
    }
  }
}
