@use "../../Styles/_placeholders.scss" as *;
@use "../../Styles/_variables.scss" as *;

.timeContainer {
    background-color: $background;
    width: 1440px;

    article {
        color: $white;
        @extend %linden;
        font-size: 1.2rem;
        
    }
}